name: MAIN

on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "./.github/**"
  workflow_dispatch:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: pytest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ./.github/actions/setup

      - name: Run pytest on bot_test.py
        run: python -m pytest
